* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(fundo.jpg);
    background-size: 100%;
}
    
header {
    background-color: #1A1B41;
    display: flex;
}

.caixa {
    position: relative;
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 125px;
    width: 125px;
    align-items: center;
    padding: 20px;
}

header h2 {
    font-size: 30px;
    color: #D3D4D9;
    font-weight: 600;
    padding: 50px;
}

main {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

label {
    font-size: 15px;
    font-weight: bolder;
    color: #D3D4D9;
    border: 2px solid;
    background-color: #1A1B41;
    border-radius: 5px;
    padding: 10px;
}

.date {
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    border: #1A1B41 2px solid;
    border-radius: 5px;
    color: #1A1B41;
    font-weight: bolder;
}

.escopo {
    display: flex;
    position: relative;
    width: 50%;
    height: 80%;
    padding: 20px;
    background-color: #1A1B41;
    color: #D3D4D9;
    border-radius: 10px;
    animation: 1.5s;
    opacity: 0.85;
}

.invisivel {
    display: none;
}

h3 #textoPrincipal {
    font-size: 30px;
    text-align: center;
    align-items: center;
}

p #textoSecundario {
    font-size: 20px;
}

.classImg {
    width: 20vw;
    height: 200px;
    border: 2px solid #D3D4D9;
    border-radius: 10px;
    animation: efeito 1.5s;
}

div #imagem {
    width: 50%;
    height: 300px;
}

footer {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: #1A1B41;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

.rodape {
    position: relative;
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 30px;
    width: 30px;
    align-items: center;
    padding: 20px;
}

.copyright {
    font-size: 12px;
    color: #D3D4D9;
    font-weight: 600;
    padding: 50px;
}