* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(fundo.jpg);
    background-size: 100%;
}
    
header {
    background-color: #1A1B41;
    display: flex;
}

.caixa {
    position: relative;
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 125px;
    width: 125px;
    align-items: center;
    padding: 20px;
}

header h2 {
    font-size: 30px;
    color: #D3D4D9;
    font-weight: 600;
    padding: 50px;
}

main {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

label {
    font-size: 15px;
    font-weight: bolder;
    color: #D3D4D9;
    border: 2px solid;
    background-color: #1A1B41;
    border-radius: 5px;
    padding: 10px;
}

.date {
    font-family: 'Montserrat', sans-serif;
    width: 150px;
    height: 20px;
    margin: 10px;
    padding: 10px;
    border: #1A1B41 2px solid;
    border-radius: 5px;
    color: #1A1B41;
    font-weight: bolder;
}

.escopo {
    display: flex;
    position: relative;
    width: 80%;
    margin: 20px;
    padding: 10px;
    background-color: #1A1B41;
    color: #D3D4D9;
    border-radius: 10px;
    opacity: 0.85;
}

.invisivel {
    display: none;
}

.texto {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
}

#textoPrincipal {
    position: relative;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

#textoSecundario {
    margin: 10px;
    padding: 5px;
    font-size: 15px;
}

div #conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: #1A1B41;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
}

.rodape {
    position: relative;
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 30px;
    width: 30px;
    align-items: center;
    padding: 20px;
}

.copyright {
    font-size: 12px;
    color: #D3D4D9;
    font-weight: 600;
    padding: 50px;
}

@media screen and (max-width: 1439px) and (min-width: 700px) {
    body {
        display: inline;
        justify-content: center;
        background-image: url(fundo.jpg);
        background-size: 100%;
        background-repeat: repeat;
    }

    header {
        width: 100%;
        align-items: center;
    }

    footer {
        font-size: 20px;
    }

    .escopo {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 90%;
    }

    .invisivel {
        display: none;
    }

    .texto {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    div #conteudo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer {
        width: 100%;
        align-items: center;
        font-size: 20px;
    }
}